
@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<!DOCTYPE html>
<html>
<head>
    <title>Страница входа</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            color: #fff;
        }
        .login-form {
            background-color: #ffffff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            color: #333;
        }
        .form-input {
            margin-bottom: 20px;
            width: calc(100% - 20px);
            padding: 10px;
            border: 2px solid #dddddd;
            border-radius: 5px;
            transition: border-color 0.3s;
        }
        .form-input:focus {
            border-color: #6a11cb;
            outline: none;
        }
        .form-button {
            width: 100%;
            padding: 10px;
            background-color: #6a11cb;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .form-button:hover {
            background-color: #2575fc;
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div class="login-form" style="min-width: 534.586px; min-height: 317.799px">
    <h2>Log in</h2>
    @Body
</div>

</body>
</html>
